<div hx-swap-oob="true" id="detailCellDate">
    <label class="label label-light" for="cDetail_vacuumed">Прокручена</label>
    <input type="date" name="rq.happened" value="${unit.cellDetail.vacuumed?.format()}" class="input"
           id="cDetail_vacuumed">

</div>
<div class="p-2" hx-target="#detail" id="cell_${id}"
     hx-post="@{controllers.action.Cleanings.cellDetail(id)}"
     hx-trigger="click">
    <input type="checkbox" name="cellRq.id" value="${id}" checked>
    <input type="hidden" name="rq.happened" value="${unit.cellDetail.vacuumed}">
    <input type="hidden" name="rq.comment" value="${unit.cellDetail.comment}"
           class="moment">
    <input type="hidden" name="date" value="${unit.cellDetail.vacuumed}" class="moment">
</div>