<div class="flex flex-around">
    <div class="p-2" hx-target="#detail"
         hx-post="@{controllers.action.Cleanings.detail(cell.id)}"
         hx-trigger="click">
        ${cell.name}
    </div>
    <form>
        <div class="p-2" hx-target="#detail" id="cell_${_.cellDetail.cell.id}"
             hx-post="@{controllers.action.Cleanings.cellDetail(cell.id)}"
             hx-trigger="click">
            <input type="checkbox" name="rq.id" value="${cell.id}">
            <input type="hidden" name="rq.happened" value="${date.format()}">
            <input type="hidden" name="rq.comment" value="${_.cellDetail.comment}"
                   class="moment">
            <input type="hidden" name="date" value="${date.format()}" class="moment">
        </div>
    </form>
</div>