<div class="mt-3" hx-swap-oob="true" id="summary">
    <div class="table-stripped">
        <table>
            <tr>
                <td>Ванн прокручено:</td>
                <td>${sum?.cellVacuumed}</td>
            </tr>
            <tr>
                <td>Анодов почищено на машине:</td>
                <td>${sum?.anodesMachined}</td>
            </tr>
            <tr>
                <td>Анодов почищено вручную:</td>
                <td>${sum?.anodesHandled}</td>
            </tr>
        </table>
    </div>
</div>