#{extends '/setup/layout.html' /}
#{set title:'Чистка' /}
#{set 'menu'}
<div>
    <a href="@{controllers.Application.index()}">
        Домой
    </a>
</div>
<div>
    <a href="@{ground.Anodes.list()}">&{'names.anodes'}</a>
</div>
<div>
    <a href="@{ground.Takes.list()}">&{'takes'}</a>
</div>
<div>
    <a href="@{ground.Cells.list()}">&{'cells'}</a>
</div>
<div>
    <a href="@{ground.Rows.list()}">&{'rows'}</a>
</div>
<div>
    <a href="@{ground.Tiers.list()}">&{'tiers'}</a>
</div>
<div>
    <a href="@{controllers.action.Cleanings.list(1)}">Чистка бригада 1</a>
</div>
<div>
    <a href="@{controllers.action.Cleanings.list(2)}">Чистка бригада 2</a>
</div>
<div>
    <a href="@{controllers.action.Cleanings.list(3)}">Чистка бригада 3</a>
</div>
<div>
    <a href="@{controllers.action.Cleanings.list(4)}">Чистка бригада 4</a>
</div>
<div>
    <a href="@{controllers.action.Cleanings.list(5)}">Чистка бригада 5</a>
</div>

#{/set}


<div>
    <div>
        <div class="flex">

            <div>
                <div class="flex flex-between">
                    <div>
                        <h1>${title}</h1>
                    </div>
                    <div class="flex" hx-post="" hx-target=".moment">
                        <label class="label" for="date">Дата чистки</label>
                        <input type="date" name="date" value="${date.format()}" class="input" id="date"/>
                    </div>
                </div>
                <div class="mt-4 grid grid-10">
                    #{list units}
                    #{set cell:_.cellDetail.cell/}

                    <div class="list-bordered">
                        <div class="flex flex-around">
                            <div class="p-2" hx-target="#detail"
                                 hx-post="@{controllers.action.Cleanings.detail(cell.id)}"
                                 hx-trigger="click">
                                ${cell.name}
                            </div>
                            <form>
                                <div class="p-2" hx-target="#detail" id="cell_${_.cellDetail.cell.id}"
                                     hx-post="@{controllers.action.Cleanings.cellDetail(cell.id)}"
                                     hx-trigger="click">
                                    <input type="checkbox" name="rq.id" value="${cell.id}">
                                    <input type="hidden" name="rq.happened" value="${date.format()}">
                                    <input type="hidden" name="rq.comment" value="${_.cellDetail.comment}"
                                           class="moment">
                                    <input type="hidden" name="date" value="${date.format()}" class="moment">
                                </div>
                            </form>
                        </div>
                        <div>
                            <div class="flex flex-around">
                                #{list _.takeDetails}
                                #{set take:_.take/}
                                <div class="flex-center">
                                    <form>
                                        <div class="align-center" hx-target="#detail"
                                             hx-post="@{controllers.action.Cleanings.takeDetail(cell.id)}"
                                             hx-trigger="click">
                                            <label for="take_${take.id}">${take.number}</label>
                                            <input type="checkbox" name="rq.id" value="${take.id}"
                                                   id="take_${take.id}">
                                            <input type="hidden" name="rq.takeNumber"
                                                   value="${take.number}">
                                            <input type="hidden" name="rq.happened"
                                                   value="${_.scrubbed}">
                                            <input type="hidden" name="rq.comment"
                                                   value="${_.comment}">
                                            <input type="hidden" name="rq.machined"
                                                   value="${_.machined}">
                                            <input type="hidden" name="rq.firstDamage"
                                                   value="${_.firstDamage}">
                                            <input type="hidden" name="rq.toChange"
                                                   value="${_.toChange}">
                                            <input type="hidden" name="rq.changed"
                                                   value="${_.changed}">
                                            <input type="hidden" name="rq.moment"
                                                   value="${date.format()}">
                                        </div>
                                    </form>
                                </div>
                                #{/list}
                            </div>
                        </div>
                    </div>
                    </form>
                    #{/ list}
                </div>
                <form action="@{controllers.action.Cleanings.clean(number)}" method="post">
                    <div class="flex flex-end mt-3">
                        <button type="submit" class="button">
                            Сохранить
                        </button>
                    </div>
                </form>
            </div>
            <div class="flex-layout">
                <div class="ml-6">
                    <div class="max-100 my-3">
                        <h1>Подробно</h1>
                    </div>
                    <div id="detail">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>