#{set q:tDetail.take.getQuantity()/}
#{set tTerm:tDetail.term/}
#{set tGradient:(tTerm == null || tTerm > 15) ? '3' : (tTerm > 10 ? '2' : '1')/}
#{set checked:tDetail.checked ? 'checked' : 'term-' + tGradient/}

<div class="" id="tDetail_${tDetail.take.id}">
    <form>
        <div class="mt-4 flex flex-middle shadow-150 pb-3 pr-3 ${tDetail.checked?'':'muted'}"
             hx-post="@{controllers.action.Cleanings.takeChange(unit.cellDetail.cell.id)}"
             hx-trigger="change delay:500ms"
             hx-target="#tDetail_${tDetail.take.id}"
             hx-swap="outerHTML">
            <div class="px-3">
                ${tDetail.take.number}
                <input type="hidden" name="rq.id" value="${tDetail.take.id}">
                <input type="hidden" name="rq.checked" value="false">
                <input type="hidden" name="rq.takeNumber" value="${tDetail.take.number}">
            </div>
            <div class="nav-full">
                <div class="flex flex-start flex-middle">
                    <div class="mr-2">
                        <label for="sc_${tDetail.take.id}" class="label label-light">Почищен</label>
                        <input type="date" name="rq.moment"
                               value="${tDetail.scrubbed?.format()}"
                               id="sc_${tDetail.take.id}"
                               class="input"
                               autocomplete="off">
                    </div>
                    #{set mCheck:tDetail.machined > 0 ? 'checked' : ''/}
                    #{set hCheck:mCheck == 'checked' ? '' : 'checked'/}
                    <div class="mr-2 flex-center">
                        <div class="flex flex-start">
                            <input type="radio" name="rq.machined" value="${tDetail.machined}" ${mCheck}
                                   id="m_${tDetail.take.id}">
                            <label for="m_${tDetail.take.id}" class="label label-light">W703</label>
                        </div>
                        <div class="flex flex-start">
                            <input type="radio" name="rq.machined" value="null" ${hCheck} id="h_${tDetail.take.id}">
                            <label for="h_${tDetail.take.id}" class="label label-light">Вручную</label>
                        </div>
                    </div>
                    <div class="flex flex-between nav-full">
                        <div class="align-center flex-content mr-2 nav-full">
                            <label for="fd_${tDetail.take.id}" class="label label-light"> < 10%</label>
                            <select name="rq.firstDamage" class="input" id="fd_${tDetail.take.id}">
                                #{list 0..q}
                                <option value="${_}" ${_==tDetail.firstDamage?'selected':''}>${_}</option>
                                #{/list}
                            </select>
                        </div>
                        <div class="align-center flex-content mr-2 nav-full">
                            <label for="tc_${tDetail.take.id}" class="label label-light"> > 10%</label>
                            <select name="rq.toChange" class="input" id="tc_${tDetail.take.id}">
                                #{list 0..q}
                                <option value="${_}" ${_==tDetail.toChange?'selected':''}>${_}</option>
                                #{/list}
                            </select>
                        </div>
                        <div class="align-center flex-content nav-full">
                            <div>
                                <label for="ch_${tDetail.take.id}" class="label label-light">Заменили</label>
                            </div>
                            <select name="rq.changed" class="input" id="ch_${tDetail.take.id}">
                                #{list 0..q}
                                <option value="${_}" ${_==tDetail.changed?'selected':''}>${_}</option>
                                #{/list}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="">
                    <label for="c_${tDetail.take.id}" class="label label-light">Примечание</label>
                    <input type="text" name="rq.comment" value="${tDetail.comment}" id="c_${tDetail.take.id}"
                           placeholder="Комментарий"
                           class="input"
                           autocomplete="off">
                </div>
            </div>
        </div>
    </form>
</div>