<div class="flex flex-start">
    <h1>Сводка</h1>
    <div class="" id="cDetail_nane"></div>
</div>
<div class="mt-3">
    <table class="table-stripped">
        <tr>
            <td>Цикл чистки ванн</td>
            <td>${maxCellTerm}</td>
        </tr>
        <tr>
            <td>Цикл чистки анодов</td>
            <td>${maxTakeTerm}</td>
        </tr>
        <tr>
            <td>Прогаров <10%</td>
            <td>${firstDamageSum}</td>
        </tr>
        <tr>
            <td>На замену</td>
            <td>${toChangeSum}</td>
        </tr>
        <tr>
            <td>Прогаров всего</td>
            <td>${damaged}</td>
        </tr>
    </table>
</div>