<div hx-swap-oob="true" class="badge ml-3" id="count">
    <h2>${vacuumings.size()}</h2>
</div>
<div class="table" id="items">

    <table>
        <thead>
        <tr>
            #{list controllers.information.view.VacuumingView.values()}
            <th>
                ${_.title}
            </th>
            #{/list}
        </tr>
        </thead>
        <tbody>
        #{list vacuumings}
        <tr>
            <td>
                ${_.id}
            </td>
            <td>
                ${_.happened?.format("dd-MM-yyyy")}
            </td>
            <td>
                ${_.cell}
            </td>
            <td>
                ${_.comment}
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
</div>