#{extends '/setup/layout.html' /}
#{set title:'Подъемы' /}
#{set sel:common.view.MainMenu.SCRUBBINGS/}
#{set 'menu'}
#{list common.view.MainMenu.getMenu(user)}
<div>
    <a href="${_.url}" class="${sel == _? 'active' : ''}">${_.title}</a>
</div>
#{/list}
#{/set}

<div class="flex">
    <div class="max-80 p-10 mr-3">
        <div class="flex flex-middle">
            <div>
                <h1>${title}</h1>
            </div>
            <div class="badge ml-3" id="count">
                <h2>${scrubbings.size()}</h2>
            </div>
            <button
                    type="button"
                    hx-post="@{controllers.information.Scrubbings.report()}"
                    hx-indicator="#db"
                    hx-disabled-elt="this"
                    class="push-right button bt-xls">
                <img id="db" class="htmx-indicator mr-3" src="/public/images/spinner.svg"/>
                &{'Export'}
            </button>
        </div>
        <div class="able-scrollable">
            <div class="table-scrollable mt-10" id="items">
                #{include './table.html'/}
            </div>
        </div>
    </div>
    <div class="flex-content p-10">
        <div class="px-6 border-left border-dark-low">
            <div class="flex flex-between flex-middle max-100">
                <h1>Фильтр</h1>
                <div class="" id="cDetail_nane"></div>
            </div>
            <form>
                <div class="flex flex-between flex-middle my-3 shadow-150 pb-3 pr-3">
                    <div id="detail" hx-post="@{controllers.information.Scrubbings.filterTeam()}"
                         hx-target="#items"
                         hx-trigger="change">
                        <div><h3 class="mb-3">Бригады</h3></div>
                        #{list models.Team.values()}
                        <div class="flex flex-middle">
                            <div>
                                <label class="label label-light" for="team_${_}">${_.name}</label>
                            </div>
                            <input class="checkbox" type="checkbox" id="team_${_}" name="teamIndex"
                                   value="${_.ordinal()}" checked>
                        </div>
                        #{/list}
                    </div>
                </div>
            </form>
            <form>
                <div class="flex flex-between flex-middle my-3 shadow-150 pb-3 pr-3">
                    <div id="" hx-post="@{controllers.information.Scrubbings.filterDate()}"
                         hx-target="#items"
                         hx-trigger="change">
                        <div><h3 class="mb-3">Даты</h3></div>
                        <label class="label label-light" for="begin">Начало</label>
                        <input class="input ml-3" type="date" id="begin"
                               name="begin" value="${f.begin.format()}">
                        <label class="label label-light" for="end">Окончание</label>
                        <input class="input ml-3" type="date" id="end"
                               name="end" value="${f.end.format()}">
                        <input type="hidden" name="f.sort" value="${f.sort}">
                        <input type="hidden" name="f.order" value="${f.order}" checked>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
