#{extends './layout.html' /}
#{set nav:controllers.information.view.ScrubbingNav.DETAILS/}

<div class="shadow-150 p-8 mt-8" id="items">
    <table class="table">
        <tr>
            <td>Дата чистки</td>
            <td>${takeScrubbing.happened?.format()}</td>
        </tr>
        <tr>
            <td>Почищено на машине</td>
            <td>${takeScrubbing.machined}</td>
        </tr>
        <tr>
            <td>Почищено вручную</td>
            <td>${takeScrubbing.handled}</td>
        </tr>
        <tr>
            <td>Прогаров <10%</td>
            <td>${takeScrubbing.firstDamage}</td>
        </tr>
        <tr>
            <td>Прогаров >10%</td>
            <td>${takeScrubbing.toChange}</td>
        </tr>
        <tr>
            <td>Заменили</td>
            <td>${takeScrubbing.changed}</td>
        </tr>
        <tr>
            <td>Примечание</td>
            <td>${takeScrubbing.comment}</td>
        </tr>
    </table>
</div>