#{set canvas:'background: #ffffff;'/}
#{set footer:'padding: 40px 0'/}
#{set layout:'border-bottom: 1px solid #eee; padding-top: 48px'/}
#{set small:'font-family:arial;font-size:11px;color:#999999;line-height:16px'/}
#{set href:'font-family:arial;font-size:11px;color:#666666;text-decoration:none'/}
#{set normal:'font-family:arial;color:#666666;font-size:15px;text-decoration:none;line-height:20px'/}
#{set title:'font-family:arial;font-size:32px;font-weight:bold;color:#333333;text-decoration:none'/}
#{set bold:'font-family:arial;font-size:16px;font-weight:bold;color:#333333;text-decoration:none'/}
#{set logo:'border-style:none;vertical-align:top'/}
#{set row:'padding-bottom:25px'/}
#{set bt:'display:inline-block; font-family: Roboto, Helvetica, Arial, sans-serif;' +
'    text-align: center; padding: 16px 24px;min-width: 160px;margin-top: 36px;' +
'    font-size: 16px;font-weight: 500;border-radius: 6px;' +
'    cursor: pointer;color: #333;border: 1px solid rgba(3,6,18,.2);text-decoration: none;' +
'    white-space: nowrap;'/}
