#{extends '/Mails/layout.html' /}
#{include '/Mails/style.html' /}
#{set layout:'text-align: center'/}

#{mail.layout}
<div style="text-align: center">
    #{mail.secondary}&{'Mails.sendPasswordReset'}#{/mail.secondary}
    <p>&{'Mails.sendPasswordReset.1'}
        <a href="@@{controllers.auth.PasswordReset.passwordReset(activationKey)}">
            &{'Mails.sendActivationEmail.2'}
        </a>
    </p>
    <p>&{'Mails.sendPasswordReset.3', expirationDays}</p>
    <a href="@@{controllers.auth.PasswordReset.passwordReset(activationKey)}"
       style='${bt}'>
        &{'Mails.sendPasswordReset.submit'}
    </a>
</div>
#{/mail.layout}