#{extends '/setup/layout.html' /}
#{set title:'Ванны' /}

<div>
    <h1>${title}</h1>
    *{<a href="@{controllers.ground.Cells.blank()}">
        Новая ванна
    </a>}*
</div>
<div>
    <div>
        <div class="mt-4">
            <tr>
                #{list rowA}
                <td>
                    <div class="button">
                        <a href="@{controllers.ground.Cells.view(_.id)}">
                            ${_.name}
                        </a>
                    </div>
                </td>
                #{/ list}
            </tr>
        </div>
        <div class="mt-4">
            <tr>
                #{list rowB}
                <td>
                    <div class="button">
                        <a href="@{controllers.ground.Cells.view(_.id)}">
                            ${_.name}
                        </a>
                    </div>
                </td>
                #{/ list}
            </tr>
        </div>
        <div class="mt-4">
            <tr>
                #{list rowC}
                <td>
                    <div class="button">
                        <a href="@{controllers.ground.Cells.view(_.id)}">
                            ${_.name}
                        </a>
                    </div>
                </td>
                #{/ list}
            </tr>
        </div>
        <div class="mt-4">
            <tr>
                #{list rowD}
                <td>
                    <div class="button">
                        <a href="@{controllers.ground.Cells.view(_.id)}">
                            ${_.name}
                        </a>
                    </div>
                </td>
                #{/ list}
            </tr>
        </div>
    </div>
</div>