#{extends '/setup/layout.html' /}
#{set title:'Ванны' /}
#{set 'menu'}
<div>
    <a href="@{controllers.Application.index()}">
        Домой
    </a>
</div>
<div>
    <a href="@{ground.Anodes.list()}">&{'names.anodes'}</a>
</div>
<div>
    <a href="@{ground.Takes.list()}">&{'takes'}</a>
</div>
<div>
    <a href="@{ground.Cells.list()}">&{'cells'}</a>
</div>
<div>
    <a href="@{ground.Rows.list()}">&{'rows'}</a>
</div>
<div>
    <a href="@{ground.Tiers.list()}">&{'tiers'}</a>
</div>
<div>
    <a href="@{controllers.action.Cleanings.list(1)}">Чистка бригада 1</a>
</div>
<div>
    <a href="@{controllers.action.Cleanings.list(2)}">Чистка бригада 2</a>
</div>
<div>
    <a href="@{controllers.action.Cleanings.list(3)}">Чистка бригада 3</a>
</div>
<div>
    <a href="@{controllers.action.Cleanings.list(4)}">Чистка бригада 4</a>
</div>
<div>
    <a href="@{controllers.action.Cleanings.list(5)}">Чистка бригада 5</a>
</div>
#{/set}


<div>
    <h1>${title}</h1>
    <a href="@{controllers.ground.Cells.blank()}">
        Новая ванна
    </a>
</div>
#{list cells}
<div>
    <th>
        <a href="@{controllers.ground.Cells.view(_.id)}">
            ${_.name}
        </a>
    </th>
</div>
#{/ list}