#{extends 'main.html' /}

<div class="flex vh-full">
    <div class="flex-sidebar">
        <div class="flex-menu">
            #{get 'menu'/}
            <div><a href="@{controllers.auth.Secure.logout()}">Выход</a></div>
        </div>
        <div class="profile">
            <div class="avatar">${user.email.charAt(0).toUpperCase()}</div>
            <div class="overflow">
                <div class="text-medium">${user.email}</div>
                <div class="text-small text-muted">${user.role.title}</div>
            </div>
        </div>
    </div>
    <div class="p-3 m-15 flex-content">
        #{doLayout /}
    </div>
</div>

