#{extends 'main.html' /}

<div class="flex vh-full">
    <div class="flex-sidebar">
        <a href="/" class="flex-logo">
            <img src="/public/images/logo-no-background.svg" alt="anodes" width="150">
        </a>
        <div class="scroll-container flex-menu">
                #{get 'menu'/}
        </div>
        <div class="profile">
            <div class="avatar">${user.email.charAt(0).toUpperCase()}</div>
            <div class="overflow">
                <div class="text-medium">${user.email}</div>
                <div class="text-small text-muted">${user.role.title}</div>
            </div>
        </div>
    </div>
    <div class="main">
        #{doLayout /}
    </div>
</div>

