<!DOCTYPE html>

<html>
    <head>
        <title>${title?:'ЧЦЗ-КЭЦ-ОЭ'}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/public/stylesheets/superkube.min.css">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css?version=1'}">
        <link rel="styleseet" media="screen and (max-width: 991px)" href="/public/stylesheets/mobile.css">
            #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'public/images/anodes-favicon-color.svg'}">
    </head>
    <body>
        #{doLayout /}
        
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
        <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    </body>
</html>
