#{extends '/auth.html' /}
#{set title: 'Изменить пароль' /}

<form action="@{controllers.auth.PasswordReset._passwordReset(activationKey)}" class="form" method="post">
    #{authenticityToken /}
    <div class="stack stack-6">
        <h1 class="heading-large">&{'PasswordReset.passwordReset'}</h1>
        <input class="input" type="password" placeholder="&{'PasswordReset.newPassword'}"
               required="required" name="password">
        <input class="input" type="password" placeholder="&{'PasswordReset.newPassword.again'}"
               required="required" name="repeat">
        <div class="flex flex-between flex-middle">
            <button type="submit" class="button">
                &{'PasswordReset.passwordReset.submit'}
            </button>
            <a href="@{auth.Secure.login}">&{'Secure.login.login'}</a>
        </div>
    </div>
</form>