#{extends '/auth.html' /}
#{set title: 'Восстановить пароль' /}

<form action="@{controllers.auth.PasswordReset._passwordChange()}" class="form" method="post">
    #{authenticityToken /}
    <div class="stack stack-6">
        <h1 class="heading-large">&{'PasswordReset.passwordChange'}</h1>
        <div class="form-item">
            <input class="input" placeholder="Email" type="email" name="email" required="required">
        </div>
        <div class="flex flex-between flex-middle">
            <button type="submit" class="button">
                &{'PasswordReset.passwordChange.submit'}
            </button>
            <a href="@{auth.Secure.login}">&{'Secure.login.login'}</a>
        </div>
    </div>
</form>