#{extends '/auth.html' /}
#{set title: 'Пароль изменен' /}

<form action="@{controllers.auth.Secure.login()}" class="form" method="get">
    #{authenticityToken /}
    <div class="stack stack-6">
        <h1 class="heading-medium">&{'PasswordReset.passwordReset.success'}</h1>
        <div class="flex flex-between flex-middle">
            <button type="submit" class="button">
                &{'PasswordReset.passwordReset.cta'}
            </button>
            <a href="@{auth.Secure.login}">&{'Secure.login.login'}</a>
        </div>
    </div>
</form>